.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem 4rem 1.5rem 1rem;
    
}
.head-image{
    width: auto;
    transition: width 1s;
}
.head-image-extended{
    width: 30rem;
}
.head-image-contracted{
    width: 16rem;
}
.head-text{
    font-weight: 400;
    font-style: normal;
    font-family: cursive;
    margin: 1rem 10rem 1rem 10rem;
    transition: font-size 1s;
}
.head-text-extended{
    font-size: 3rem;
    
}
.head-text-contracted{
    font-size: 1.6rem;
    
}
