.name-card{
    margin: 2rem;
    border: solid 1px rgb(10, 10, 10);
    border-radius: 1rem;
    background: #111827;
    padding: 1px 15px 1px 15px;
   
}
.name-card:hover{
    background-color: #444b5a;
    font-size: 20px;
    color:whitesmoke ;
    border: solid 1px rgb(138, 136, 136);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);

}
.card-link{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
a:hover{
    background-color: #444b5a;
    color:whitesmoke ;
    border: none;
    
}